.main-container{
  width:100%;
  height:100%;
  display:flex;
  justify-content: center;
  align-items: center;
}
body{
  margin: 0;
  width: 100%;
  height:100%;
  padding: 0;
  box-sizing: border-box;
}
h1{
  font-size: 25x;
  color: red;
}